@model HelpdeskPortal.Models.Profile.ProfileModel
@{
    ViewData["Title"] = "Изменить пользователя";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/scripts/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.mask.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Phone").mask("+7 799 999 99 99");
            $('#positions').load("/Profile/Positions?profileId=@Model.PositionId");
            $("#errPhone").hide();
            $("#errFirstName").hide();
            $("#errName").hide();
        });
        function UpdateUser() {

            let phone = $('#Phone').val();
            let firstName = $('#FirstName').val();
            let lastName = $('#LastName').val();;
            let email = $('#Email').val();            
            let positionId = $('#positionList').val();

            if (phone == '') {
                $("#errPhone").show();
            } else if (firstName == '') {
                $("#errFirstName").show();
            } else if (lastName == '') {
                $("#errName").show();
            }
            {
                $.ajax({
                    type: "POST",
                    url: "/Profile/UpdateUser",
                    data: { 
                        profileId: @Model.Id,
                        phone: phone,
                        firstName: firstName,
                        lastName: lastName,
                        email: email,
                        positionId: positionId
                    },

                    success: function (data) {

                        if (data == "true") {
                            Swal.fire({
                                title: 'Пользователь',
                                text: 'изменен',
                                icon: 'success',
                                confirmButtonText: 'Отлично'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/Profile/Users";
                                }
                            })
                        }
                        else {
                            Swal.fire({
                                title: 'Пользователь',
                                text: data,
                                icon: 'error',
                                confirmButtonText: 'Ввести заново'
                            })
                        }
                    }
                })
            }
        }
    </script>
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-fw fa-user"></i> @ViewData["Title"]</h1>
    </div>
    <div class="row">
        <form class="user">
            <div class="form-group">
                <label for="FirstName">Фамилия</label>
                <input type="text" value="@Model.Surname" class="form-control form-control-user" id="FirstName">
                <span id="errFirstName" style="color:red">Укажите фамилию</span>
            </div>

            <div class="form-group">
                <label for="LastName">Имя</label>
                <input type="text" value="@Model.Name" class="form-control form-control-user" id="LastName">
                <span id="errName" style="color:red">Укажите имя</span>
            </div>

            <div class="form-group">
                <label for="Phone">Телефон</label>
                <input type="text" value="@Model.Phone" class="form-control form-control-user" id="Phone">
                <span id="errPhone" style="color:red">Введите номер телефона</span>
            </div>

            <div class="form-group">
                <label for="Email">Почта</label>
                <input type="email" value="@Model.Email" class="form-control form-control-user" id="Email">
            </div>

            <div class="form-group">
                <label for="positionList">Должность</label>
                <span id="positions">
                </span>
            </div>

            <a  href="#" onclick="UpdateUser()" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Сохранить</span>
            </a>
        </form>
    </div>
</div>
