@model HelpdeskPortal.Models.Profile.ProfileModel;
@{
    ViewData["Title"] = "Личный кабинет";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="~/scripts/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.mask.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Phone").mask("+7 799 999 99 99");
        });
        function UpdateProfile() {
            let phone = $('#Phone').val();
            let firstName = $('#FirstName').val();
            let lastName = $('#LastName').val();;
            let email = $('#Email').val();

            $.ajax({
                type: "POST",
                url: "/Profile/UpdateProfile",
                data: {
                    phone: phone,
                    firstName: firstName,
                    lastName: lastName,
                    email: email
                },

                success: function (data) {


                    Swal.fire({
                        title: 'Личный кабинет',
                        text: 'профиль изменен',
                        icon: 'success',
                        confirmButtonText: 'Отлично'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    })
                }
            })
        }
    </script>
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-fw fa-user"></i> @ViewData["Title"]</h1>
    </div>
    <div class="row">
        <form class="user">
            <div class="form-group">
                <label for="FirstName">Фамилия</label>
                <input type="text" class="form-control form-control-user" id="FirstName" value="@Model.Surname">
            </div>

            <div class="form-group">
                <label for="LastName">Имя</label>
                <input type="text" class="form-control form-control-user" id="LastName" value="@Model.Name">
            </div>

            <div class="form-group">
                <label for="Phone">Телефон</label>
                <input type="text" class="form-control form-control-user" id="Phone" value="@Model.Phone">
            </div>

            <div class="form-group">
                <label for="Email">Почта</label>
                <input type="email" class="form-control form-control-user" id="Email" value="@Model.Email">
            </div>

            <div class="form-group">
                <label for="position">Должность</label>
                <input type="text" class="form-control form-control-user" readonly id="position" value="@Model.PositionName">
            </div>

            <a onclick="UpdateProfile()" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Сохранить</span>
            </a>
        </form>
    </div>
</div>
